.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: #9a9a9a;
  border-width: 1.3px;
  border-color: #242424;
  border-style: solid;
  padding: 23px 35px 23px 35px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
  border-radius: 5px;
}
.button-container:hover {
  transform: scale(1.14);
}

@media screen and (max-width: 700px) {
  .button-container {
    padding: 15px 25px 15px 25px;
  }
}
.button-title {
  display: flex;
  align-items: center;
  /* margin-right: 0.5rem; */
}
