body {
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: #b6b6b6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
/* @media screen and (max-width: 550px) {
  body {
    margin: 0;
  }
} */
